<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/a96baf95-518b-4e36-9146-711d9213fe16/resourceGroups/eportfolio/providers/Microsoft.Web/sites/ePortfolioAPI</ResourceId>
    <ResourceGroup>eportfolio</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://eportfolioapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>c092b253-c291-4d0c-b5de-6b60b5af372f</ProjectGuid>
    <PublishUrl>https://eportfolioapi.scm.azurewebsites.net/</PublishUrl>
    <UserName>$ePortfolioAPI</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>