@import url('palette.css');

.bodyWithCustomBackground{
  background: linear-gradient(to right, blue 50%, yellow 50%);
}
.login-form {
    width: 400px;
    height: 350px;
    background-color: var(--main-black);
    border: 1px solid var(--main-red);
    border-radius: 5px;
    margin: auto;
    margin-top: 10%;  
    padding: 20px;
  }
.login-form p {
  margin-left: 5%;
  color: var(--main-white);
  font-size: 20;
  align-self: left;
}
.text-imput{
  margin-left: 5%;
  margin-right: 5%;
  height: 30px;
  width: 90%;
}
.input-Button{
  justify-content: center; /* Center horizontally */
  margin-top: 40px;
  margin-left: 25%;
  margin-right: 25%;

  width: 50%;
  height: 50px;
  border-radius: 5%;
}
  