.profile {
    background-color: #1c1c1c;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
  
  .profile .main-body {
    background-color: var(--main-black);
    height: 1024px;
    position: relative;
    width: 1440px;
  }
  
  .profile .overlap {
    height: 332px;
    left: 0;
    position: absolute;
    top: 58px;
    width: 1440px;
  }
  
  .profile .overlap-group {
    height: 332px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1440px;
  }
  
  .profile .rectangle {
    background-color: var(--secondary-black);
    height: 223px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1440px;
  }
  
  .profile .group {
    background-color: var(--main-white);
    border-radius: 110px;
    height: 220px;
    left: 142px;
    position: absolute;
    top: 112px;
    width: 220px;
  }
  
  .profile .frame {
    height: 194px;
    left: 15px;
    position: absolute;
    top: 10px;
    width: 194px;
  }
  
  .profile .text-wrapper {
    color: #ffffff;
    font-family: "Inter-Bold", Helvetica;
    font-size: 32px;
    font-weight: 700;
    height: 72px;
    left: 378px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 146px;
    width: 238px;
  }
  
  .profile .p {
    color: var(--main-gray);
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 20px;
    font-weight: 600;
    height: 26px;
    left: 385px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 238px;
    width: 490px;
  }
  
  .profile .overlap-2 {
    background-color: var(--secondary-black);
    height: 585px;
    left: 122px;
    position: absolute;
    top: 410px;
    width: 375px;
  }
  
  .profile .group-2 {
    height: 41px;
    left: 6px;
    position: absolute;
    top: 12px;
    width: 147px;
  }
  
  .profile .img {
    height: 41px;
    left: 0;
    position: absolute;
    top: 0;
    width: 41px;
  }
  
  .profile .text-wrapper-2 {
    color: #ffffff;
    font-family: "Inter-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    height: 37px;
    left: 51px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    width: 94px;
  }
  
  .folder-tab-wrapper,
.post-tab-wrapper {
  border-radius: 5px;
  height: 45px;
  width: 95%;
  cursor: pointer;
}

.active-tab {
  background: linear-gradient(180deg, var(--main-red) 0%, var(--main-white) 180%);
}
  
  .profile .group-3 {
    height: 34px;
    left: 4px;
    position: relative;
    top: 5px;
    width: 156px;
  }
  
  .profile .frame-2 {
    height: 33px;
    left: 0;
    position: absolute;
    top: 1px;
    width: 33px;
  }
  
  .tab-wrapper {
    color: #ffffff;
    font-family: "Inter-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    height: 34px;
    left: 47px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    width: 107px;
  }
  
  .profile .group-4 {
    height: 33px;
    left: 6px;
    position: relative;
    top: 10px;
    width: 141px;
  }
  
  .profile .frame-3 {
    height: 33px;
    left: 0;
    position: absolute;
    top: 0;
    width: 33px;
  }
  
  .profile .text-wrapper-4 {
    color: #ffffff;
    font-family: "Inter-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    height: 31px;
    left: 47px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    width: 92px;
  }
  
  .profile .group-5 {
    left: 50px;
    position: relative;
    top: 5px;
    height: 340px;
    width: 300px;
  }
  
  
  .profile .text-wrapper-5 {
    color: var(--main-gray);
    font-family: "Inter-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    height: 22px;
    left: 44px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 4px;
    width: 143px;
  }
  
  .profile .overlap-3 {
    height: 598px;
    left: 500px;
    position: absolute;
    top: 397px;
    width: 881px;
  }
  
  .profile .rectangle-2 {
    background-color: var(--secondary-black);
    height: 585px;
    left: 0;
    position: absolute;
    top: 13px;
    width: 881px;
  }
  
  .profile .group-6 {
    height: 450px;
    left: 36px;
    position: absolute;
    top: 89px;
    width: 795px;
  }
  
  .profile .group-7 {
    height: 134px;
    left: 0;
    position: absolute;
    top: 0;
    width: 795px;
  }
  
  .profile .group-8 {
    background-color: #d9d9d9;
    border-radius: 10px;
    height: 134px;
    left: 0;
    position: absolute;
    top: 0;
    width: 134px;
  }
  
  .profile .group-9 {
    background-color: #d9d9d9;
    border-radius: 10px;
    height: 134px;
    left: 167px;
    position: absolute;
    top: 0;
    width: 134px;
  }
  
  .profile .group-10 {
    background-color: #d9d9d9;
    border-radius: 10px;
    height: 134px;
    left: 334px;
    position: absolute;
    top: 0;
    width: 134px;
  }
  
  .profile .group-11 {
    background-color: #d9d9d9;
    border-radius: 10px;
    height: 134px;
    left: 501px;
    position: absolute;
    top: 0;
    width: 134px;
  }
  
  .profile .group-12 {
    background-color: #d9d9d9;
    border-radius: 10px;
    height: 134px;
    width: 134px;
    left: 661px;
    position: absolute;
    top: 0;
  }
  
  .profile .group-13 {
    height: 134px;
    left: 0;
    position: absolute;
    top: 158px;
    width: 795px;
  }
  
  .profile .group-14 {
    height: 134px;
    left: 0;
    position: absolute;
    top: 316px;
    width: 795px;
  }
  
  .profile .text-wrapper-6 {
    color: #ffffff;
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 24px;
    font-weight: 600;
    height: 72px;
    left: 9px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    width: 199px;
  }
  
  .profile-folder-container {
    display: flex;
    flex-direction: column;
    height: 340px;
    width: 300px;
    padding-bottom: 10px;
    overflow-y: auto; /* Add this to enable vertical scrollbar */
  }
  
  .profile-folder-grid {
    position: relative;
    min-height: 25px;
    padding: 0;
    height: auto; /* Adjusted to allow flexible height based on content */
    display: flex;
    flex-direction: row; /* Display in rows */
    align-items: center; /* Align items in the center vertically */
    border-bottom: 1px solid #ccc; /* Optional: Add a border between folders */
    padding: 8px; /* Optional: Add padding for better spacing */
  }
  .profile-folder-wrapper{
    margin-left: 10px;
    color: var(--main-gray);
  }
  .folder-icon{
    filter: invert(36%) sepia(8%) saturate(28%) hue-rotate(3deg) brightness(97%) contrast(93%);
    height: 30px;
    left: 0;
    position: relative;
    top: 0;
    width: 30px;
  }

  .profile-grid-container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(5, minmax(134px, 134px)); /* Adjust the minmax values as needed */
    grid-template-rows: repeat(5, minmax(134px, 134px));
    
    gap: 16px; /* Adjust the gap between grid items */
  }
  
  .profile-grid-item {
    border-radius: 8px;
  }
  
  .profile-post-img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Preserve aspect ratio */
    border-radius: 8px; /* Match the border-radius of the parent div */
  }
  .selected-folder {
    background-color: var(--main-black); /* Set the red background for the selected folder */
  }
  .trashcan-icon{
    width: 40px;
    height: 40px;
    position: absolute;
    margin-top: 5px ;
    margin-left: 90px ;
    

  }
  .folder-delete-button{
    position: relative;
    top: 10px;
    left: 90%;
    width: 70px;
    height: 25px;
    z-index: 2;
  }
  .folder-settings{
    position: relative;
    top: 20px;
    height: 50px;
  }
  .folder-radio{
    position: relative;
    top: 15px;
    left: 75%;
  }